body {
    background-color:#130c36;
    /*background-image: url("C:\Users\Daniel\Downloads\LOLBACK.jpg");*/
    padding: 0px;
    /*margin-top: -50px;*/
    min-height: 100vh;
    min-width: 100vh;
    /*background-color: #6868ac;*/}

.escritorio>h1{
    text-align: center;
    font-size: 8vw;
    color: 
}

.escritorio>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%;

}

.titulo{
    background-color: #553111;
    opacity: 0.5;
}

.grid-container{
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
  }

.wrapper>div{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: brown;*/
}

.wrapper>div>img{
    width:1vw*1vh;
}