body {
    background-image: url("C:\Users\Daniel\Downloads\LOLBACK");
    padding: 0px;
    /*margin-top: -50px;*/
    min-height: 100vh;
    min-width: 100vh;
    background-color: #6868ac;}

.escritorio>h1{
    text-align: center;
    font-size: 8vw;
}

.grid-container{
    position: absolute;
    top: 50%;
    margin-top: -25px;
}